<a href="https://colab.research.google.com/github/DianaMoyano1/RecommenderSystems_Examples/blob/main/02_Table_to_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pickle
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from google.colab import drive
drive.mount('drive')
%cd 'drive/My Drive/Courses/Udemy/Recommender Systems/Colab Examples'

In [ ]:
df= pd.read_csv('very_small_rating.csv')

In [ ]:
df.head()

   Unnamed: 0  userId  movieId  rating  movie_idx
0         960    7307        1     4.5         10
1         961    7307       10     2.5         68
2         962    7307       19     3.5        143
3         963    7307       32     5.0         19
4         964    7307       39     4.5         85

In [ ]:
N= df.userId.max() + 1 # number of users
M = df.movie_idx.max() + 1 # number of movies

In [ ]:
#split into train and test
df = shuffle(df)
cutoff = int(0.8*len(df))
df_train  =df.iloc[:cutoff]
df_test = df.iloc[cutoff:]

In [ ]:
df_test.head()

         Unnamed: 0  userId  movieId  rating  movie_idx
2698090    10036764    1373     1614     3.5       1109
1711203     6310961    7422     1080     4.0        150
1810311     6706897    5134     1517     3.0        128
949769      3448051    8328       52     2.5        496
1776905     6554935    4618     2455     4.5        451

### Create Dictionaries user2movie movie2user & usermovie2rating

In [ ]:
user2movie={}
movie2user={}
usermovie2rating={}

In [ ]:
#function that accepts a single row of the dataframe and 
#based on the row it's going to add an entry to each of these dictionaries
count=0
print("Calling: update_user2movie_and_movie2user")
def update_user2movie_and_movie2user(row):
  global count
  count += 1
  #every 100000 steps, I will print the progress so far
  if count % 100000 == 0:
    print("processed:%.3f" % (float(count)/cutoff))
  
  i = int(row.userId)
  j = int(row.movie_idx)
  if i not in user2movie:
    user2movie[i]=[j]
  else:
    user2movie[i].append(j)

  if j not in movie2user:
    movie2user[j]=[i]
  else:
    movie2user[j].append(i)
  
  usermovie2rating[(i,j)] = row.rating

df_train.apply(update_user2movie_and_movie2user, axis=1)

processed:0.023
processed:0.046
processed:0.070
processed:0.093
processed:0.116
processed:0.139
processed:0.162
processed:0.185
processed:0.209
processed:0.232
processed:0.255
processed:0.278
processed:0.301
processed:0.325
processed:0.348
processed:0.371
processed:0.394
processed:0.417
processed:0.440
processed:0.464
processed:0.487
processed:0.510
processed:0.533
processed:0.556
processed:0.580
processed:0.603
processed:0.626
processed:0.649
processed:0.672
processed:0.695
processed:0.719
processed:0.742
processed:0.765
processed:0.788
processed:0.811
processed:0.835
processed:0.858
processed:0.881
processed:0.904
processed:0.927
processed:0.950
processed:0.974
processed:0.997

1356315    None
5292506    None
2985743    None
3064020    None
4176678    None
           ...
5104535    None
5070655    None
5289459    None
2186458    None
2610594    None
Length: 4313620, dtype: object

In [ ]:
#test ratings dictionary
#Similar to previous but we onl populate the usermovie2rating dictionary

usermovie2rating_test = {}
print("Calling: update_usermovie2rating_test")
count = 0
def update_usermovie2rating_test(row):
  global count
  count += 1
  if count % 100000 == 0:
    print("processed: %.3f" % (float(count)/len(df_test)))

  i = int(row.userId)
  j = int(row.movie_idx)
  usermovie2rating_test[(i,j)] = row.rating
df_test.apply(update_usermovie2rating_test, axis=1)

Calling: update_usermovie2rating_test
processed: 0.093
processed: 0.185
processed: 0.278
processed: 0.371
processed: 0.464
processed: 0.556
processed: 0.649
processed: 0.742
processed: 0.835
processed: 0.927

2698090    None
1711203    None
1810311    None
949769     None
1776905    None
           ...
1140103    None
4769063    None
4738693    None
2118402    None
1567538    None
Length: 1078405, dtype: object

### Save all the dictionaries

In [ ]:
# note: these are not really JSONs (JSON has string but we are using integers)
#We save them as pickle instead (BIN files - binary)
with open('user2movie.json', 'wb') as f:
  pickle.dump(user2movie, f)

with open('movie2user.json', 'wb') as f:
  pickle.dump(movie2user, f)

with open('usermovie2rating.json', 'wb') as f:
  pickle.dump(usermovie2rating, f)

with open('usermovie2rating_test.json', 'wb') as f:
  pickle.dump(usermovie2rating_test, f)